<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498315441656-7iqtfas8h0vc6339h74ncvj5cup6d1bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498315441656-7iqtfas8h0vc6339h74ncvj5cup6d1bq</string>
	<key>API_KEY</key>
	<string>AIzaSyALxmqmFMUxLB2z9-Brp46qdtG-DfLsaLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>498315441656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartsteps.app</string>
	<key>PROJECT_ID</key>
	<string>smart-steps-387608</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-steps-387608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498315441656:ios:5fe2e7b5bcb9fc3d2bd20d</string>
</dict>
</plist>